body {
  background-image: url('./Images/Fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

header {
  display: flex;
  justify-content: space-between; /* separa h1 à esquerda e menu à direita */
  align-items: center;            /* alinha verticalmente */
  padding: 10px 20px;
  color:black;
}

header h1 {
  margin: 0;
  font-family: 'Smokum', cursive;
  font-size: 72px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* coloca os itens lado a lado */
}

header nav ul li {
  margin-left: 20px;
  font-family: 'Smokum', cursive;
  font-size: 36px;
  margin-right: 40px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  cursor: pointer;   /* cursor de link */
  color: red;        /* cor ao passar o mouse */
}

#main-content {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
  position: relative;
}

.conteudo {
  display: none; /* esconde todas as seções */
  position: absolute;
  top: 20%;
  left: 40px;
  max-width: 400px;
  color: white;
  font-family: 'Georgia', serif;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 8px;
}

.conteudo.ativo {
  display: block; /* mostra só a seção ativa */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 95%;
  border-radius: 10px;
}


